#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 225px !important;
  height: 10%;
  #nav-child1 {
    img {
      width: 1.9rem;
    }
    h2 {
      font-size: 1.6rem;
      padding: 0px 10px;
    }
    span {
      font-size: 0.7rem;
    }
  }
  #nav-child2 {
    button {
      padding: 12px 20px;
      border-radius: 12px;
      outline: none;
      border: none;
      font-size: 1rem;
      background-color: #268ff1;
      color: rgb(43, 42, 42);
      // width: 10rem;
    }
    #commBtn {
      // border: 2px solid red;
      color: #268ff1;
      border-radius: 12px;
      padding: 11px 20px;
      background-color: #100e1e;
      // padding: 0;
    }
    button:hover {
      color: white;
      background-color: #378ddd;
    }
  }
}
.navitem {
  ul {
    margin: 0 !important;
    display: flex;

    // justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      list-style: none;
      text-align: start;
      padding: 5px 0px;
      color: white;
    }
  }
}

.sub-nav {
  ul {
    background-color: #100e1e;
    justify-content: space-between !important;

    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    li {
      list-style: none;
      color: white;
      .link {
        color: gray;
        text-decoration: none;
      }
      .active {
        color: white;
        text-decoration: dashed;
      }
    }
  }
}
