.search {
  color: white;
  width: 70%;
  margin: 38px auto;
  // margin: 40px 15%
  border-radius: 10px;
  align-items: center !important;
  //   display: inline-block;

  input {
    width: 89%;
    border: none;
    border-right: 1px solid white;
    height: 3rem;
    font-size: 25px;
    margin: 0px 20px;
    // height: 100%;
    outline: none;
    color: white;
  }
  .icon {
    padding: 0px 20px;
    height: 100%;
  }
}
