$dark: hsl(249, 34%, 12%);
$primary: #268ff1;
$light: #e5e5e5;
$secondary: #969696;
$info: #42e8e0;

$h1: 48px;
$h2: 36px;
$h5: 18px;
$p: 14px;
$h1-res: 36px;
$h2-res: 26px;
#pop {
  position: absolute;
  top: 41px;
  right: 22px;
  z-index: 999999;
}
#video {
  width: 45%;
  // height: 500px;
  // margin: 250px 15%;
}
#videocont {
  display: flex;
  padding: 0px 100px;
  margin: 350px 0px;
  #videodiv {
    color: white;
    padding: 0px 70px;
    p {
      color: gray;
    }
  }
}

.text-center {
  text-align: center;
}
.darkBack {
  background-color: #292541;
}

.btnp {
  background: none;
  outline: none;
  border: none;
  color: #268ff1;
}
.btnp:hover {
  cursor: pointer;
}

// Map Colors

.text-dark {
  color: $dark;
}
.text-light {
  color: $light;
}
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-info {
  color: $info;
}

.bg-dark {
  background-color: $dark;
}
.bg-light {
  background-color: $light;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-info {
  background-color: $info;
}

// Map Text
h1 {
  // font-weight: bold;
  font-size: $h1;
}

h2 {
  // font-weight: bold;
  font-size: $h2;
}
h4 {
  font-size: $h2-res;
  font-weight: bold;
}
h5 {
  // font-weight: bold;
  font-size: $h5;
}
p {
  font-size: $p;
}
.p-big {
  font-size: $h5;
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
@media (max-width: 900px) {
  h1 {
    font-size: $h1-res;
  }
  h2 {
    font-size: $h2-res;
  }
}

// Container Mapping
.container {
  padding-left: 100px;
  padding-right: 100px;
}
.mcontainer {
  margin: 0px 226px;
}

// Padding Set
.p-1 {
  padding: 10px;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-2 {
  padding: 20px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-3 {
  padding: 30px;
}
.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.ps-3 {
  padding-left: 30px;
}
.pe-3 {
  padding-right: 30px;
}
.pt-3 {
  padding-top: 30px;
}
.pb-3 {
  padding-bottom: 30px;
}

.p-4 {
  padding: 40px;
}
.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.px-4 {
  padding-left: 40px;
  padding-right: 40px;
}
.ps-4 {
  padding-left: 40px;
}
.pe-4 {
  padding-right: 40px;
}
.pt-4 {
  padding-top: 40px;
}
.pb-4 {
  padding-bottom: 40px;
}

.p-5 {
  padding: 50px;
}
.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}
.ps-5 {
  padding-left: 50px;
}
.pe-5 {
  padding-right: 50px;
}
.pt-5 {
  padding-top: 50px;
}
.pb-5 {
  padding-bottom: 50px;
}

.p-6 {
  padding: 60px;
}
.py-6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}
.ps-6 {
  padding-left: 60px;
}
.pe-6 {
  padding-right: 60px;
}
.pt-6 {
  padding-top: 60px;
}
.pb-6 {
  padding-bottom: 60px;
}

.p-7 {
  padding: 70px;
}
.py-7 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.px-7 {
  padding-left: 70px;
  padding-right: 70px;
}
.ps-7 {
  padding-left: 70px;
}
.pe-7 {
  padding-right: 70px;
}
.pt-7 {
  padding-top: 70px;
}
.pb-7 {
  padding-bottom: 70px;
}

.p-8 {
  padding: 80px;
}
.py-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.px-8 {
  padding-left: 80px;
  padding-right: 80px;
}
.ps-8 {
  padding-left: 80px;
}
.pe-8 {
  padding-right: 80px;
}
.pt-8 {
  padding-top: 80px;
}
.pb-8 {
  padding-bottom: 80px;
}

// Margin
.m-0 {
  margin: 0;
}
.mx-1 {
  margin: 0px 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 50px;
}

// Border Mapping
.border-0 {
  border: 0;
}

// Basic Row and Column
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .col {
    width: 45%;
  }
}
.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .col {
    width: 45%;
  }
}

// Basic Image Configuration
.img-full {
  width: 100%;
  height: auto;
}

// Positioning
.pos-rel {
  position: relative;
}
